@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body {
  background-color: #FAFAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #002244;
  text-decoration: unset;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1em 0;
}

button, input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}